UseTab: ForContinuationAndIndentation
IndentWidth: 4
TabWidth: 4
ColumnLimit: 0
PointerAlignment: Left
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterControlStatements: true

AlignConsecutiveDeclarations:
  # Enabled: false
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false

AlignConsecutiveAssignments:
  Enabled: true
  AcrossEmptyLines: false
  AcrossComments: false
  PadOperators: true

AlignConsecutiveShortCaseStatements:
  Enabled: true
  AcrossEmptyLines: true
  AcrossComments: true
  AlignCaseColons: false
  AlignCaseArrows: true

AlignEscapedNewlines: DontAlign
BreakTemplateDeclarations: Yes
PackConstructorInitializers: CurrentLine
AccessModifierOffset: -4
InsertNewlineAtEOF: true
# AlignAfterOpenBracket: BlockIndent
AlignOperands: Align
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
# SeparateDefinitionBlocks: Always
AllowShortCaseLabelsOnASingleLine: true
# AlignArrayOfStructures: Left
